<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <% if @task.completed? %>
  <%= button_to 'Delete', task_path, :method => :delete %>
  <% else %>
  <%= button_to 'Mark Completed', task_path, :method => :put %>
  <%= button_to 'Delete', task_path, :method => :delete %>
  <% end %>
</p>

<%= link_to 'Back', tasks_path %>
