<%=form_for(@task) do |f| %>
  <div>
    <%=f.label :name %>
    <%=f.text_field :name%>
  </div>
  <div>
    <%=f.label :complete %>
    <%=f.check_box :complete %>
  </div>
  <div>
    <%=f.submit%>
  </div>
<%end%>

