<h1>My Tasks</h1>
<ul>
  <%@tasks.each do |task|%>
    <li>
    <%=task.complete ? '[X]' : '[ ]'%>
    <%=link_to task.name, task %>
    <%=button_to 'Delete', task, method: :delete%>
    <%=button_to 'Mark Complete', task_path(task, "task" =>{complete: true}), method: :patch%>
    </li>
  <%end%>
</ul>

<h1> New Task </h1>
<%=render 'form'%>

