<H1>Tasks</H1>
  <table>
    <% @tasks.each do |task|%>
    <%= form_for task do |t| %>
    <tr>
      <td><%= t.check_box :completed %></td>
      <td><%= task.task_name %></td>
      <td><%= button_to "Update", task_path(task, "task" => {completed: true}), method: :patch%></td>
      <td><%= button_to "Delete", task_path(task), method: :delete %></td>
    </tr>
    <% end %>
  <% end %>
  </table>

<hr>
<H2>Create a new task</H2>
<%= form_for @task do |f| %>
  <p>
    <%= f.label :task_name %><br>
    <%= f.text_field :task_name %>
  </p>

  <p>
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </p>

    <%= f.submit %>
  </p>
<% end %>
