<div class="centered-box centered-text">
<h1>My Tasks</h1>
<%=link_to 'New Task',new_task_path%>
</div>
<table class="table centered-box">
	<thead>
		<tr>
			<th>Name</th>
			<th>Note</th>
			<th>Completed</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbdody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%=link_to task.name,task_path(id: task.id)%></td>
				<td><%=task.note%></td>
				<td><%=task.completed%></td>
				<td><%=link_to 'edit',edit_task_path(id: task.id)%></td>
				<td><%=link_to 'delete',task_path(id: task.id),method: :delete, data: {confirm: 'Are you sure'}%> </td>
			</tr>
		<%end%>
	</tbody>	
</table>
