<h1>My Tasks</h1>
 <p> <%= link_to 'Create New task', new_task_path %> </p>
<table>
  <% @tasks.each do |task| %>
    <tr>
        <% if task.completed? %>
           <td> [x] <%= link_to task.title, task_path(task) %></td>
           <td> <%= button_to 'Delete', task_path(task), :method => :delete %> </td> 
        <% else %>
          <td> [ ] <%= link_to task.title, task_path(task)%></td>
          <td>  <%= button_to 'Mark Completed', task_path(task), :method => :put %> </td>
          <td>  <%= button_to 'Delete', task_path(task), :method => :delete %> </td> 
        <% end %>    
    </tr>
  <% end %>
</table>